[Unit]
Decription=BerryIMU pressure and temperature logging
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/imu/bmp280.py -f
Restart=on-abort

[Install]
WantedBy=multi-user.target
